@import url("https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
  font-family: "Exo 2";
}
.container {
  width: 80%;
  border: 2px solid gray;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  box-shadow: 2px 3px 10px #000400;
  border-radius: 5px;
  padding: 15px;
}
.box {
  height: 400px;
  width: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  border-radius: 7px;
  padding: 20px;
}
.btn {
  margin: 50px;
  height: 100px;
}
.change {
  /* margin: 50px; */
  padding: 30px 50px;
  cursor: pointer;
  border: 2px solid gray;
  border-radius: 6px;
  font-family: inherit;
  font-size: large;
  font-weight: 700;
  transition: all 0.3s ease;
}
.change:hover {
  transform: translateY(-5px);
  background-color: rgb(48, 48, 173);
  color: white;
  border: none;
  box-shadow: 2px 4px 8px rgb(51, 51, 107);
}
